.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.nav {
  display: flex;
  gap: 16px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  color: #1976d2;
}

.nav a.active {
  color: unset;
  pointer-events: none;
}
